doctype
html
  head
    meta(charset='utf8')
    link( rel='stylesheet' type='text/css' href='/mainstyle.css')
    link( rel='stylesheet' type='text/css' href='/mainstyle1.css')
    link( rel='stylesheet' type='text/css' href='/examstyle.css')
    link( rel='stylesheet' type='text/css' href='/input.css')
    link( rel='stylesheet' type='text/css' href='/fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome-all.css')
    script( type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script( type='text/javascript' src='/slide.js')
  body
    div.body-div
      nav
        div.nav-div
          h1.nav-div-h1
            a.nav-div-a(href='/main') 문제은행
          if displayname=='login'
            h1.nav-div-h1
              a.nav-div-a(href='/user/login')= displayname
          else
           h1.nav-div-h1
              a.nav-div-a(href='/user/logout')= displayname
           h1.nav-div-h1
              a.nav-div-a(href='/main/') 뒤로가기
      main
        div.main-div1
         
           for cate in category
           
                div.main-div-cate
                  a.body-div-main-div1-a(href='/main/'+cate._id)= cate.name
                  if cate.open==false
                    nbsp
                    i.i(class='fas fa-lock')
            div.main-div-cate1
              -for(var i=1; i<=page; i++){
                if cate_find_id
                  a.main-a-page(href='/main/'+cate_find_id+'?page='+i)= i
                 else 
                  a.main-a-page(href='/main?page='+i)= i 
              -} 

       
        div.main-div2
        
          
          if test
            for tes in test
                div.input-div-flex
                    a.main-exam(href='/post/exam/'+tes._id)
                      div.main-exam-div1= tes.title+'['+tes.recommend.length+']'
                      
                      div.main-exam-div2                       
                          div= 'by'+tes.author
                    if displayname=='login'      
                      a.input-sym(href='/user/err')    
                        i(class='far fa-heart')
                    else
                      a.input-sym(href='/post/recommend/'+tes._id)    
                        i(class='far fa-heart')
                        
          div.tool-exam
                

               
                if cate_find_id
                  if displayname=='login'
                    div.exam-start-div
                      a.exam-start(href='/user/err') start 
                    div.tool-exam1-div1
                      a.tool-exam1(href='/user/err') 문제만들기
                  else
                    
                    div.exam-start-div
                      a.exam-start(href='/post/start/'+cate_find_id) start 
                    div.tool-exam1-div1
                     a.tool-exam1(href='/post/exnew/'+cate_find_id) 문제만들기
                else 
                  if displayname=='login'
                    div.main-div-answer3
                       a.tool-exam1(href='/user/err') 카테고리만들기
                  else
                      div.main-div-answer3
                       a.tool-exam1(href='/post/ctnew/') 카테고리만들기
                if displayname==cate_find_author
                  
                  div.tool-exam1-div2
                   a.tool-exam1(href='/post/cted/'+cate_find_id) 카테고리수정


